@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ff6600;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6600;
}

h1 {
  font-size: 60px;
  font-family: "Knewave";
  font-weight: bold;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 200px;
}

.filters {
  width: 100%;
  padding: 10px;
  color: whitesmoke;
  background-color: #3f63e4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 40px;
  border: 2px solid #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.filters select {
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  margin-left: 4px;
  text-align: center;
}

button[data-testid="button-clear"]{

  
  width: 4%;
  height: 60%;
  padding: 4px;
  margin: 8px 5px 5px 15px;
  font-size: 15px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.characters-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.character {
  width: 450px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2.5px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.character ul {
  list-style: none;
}

.character-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

footer {
  width: 100%;
  height: 80px;
  color:#151212bc;
  background-color: #3f42d7;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Thasadith";
}

footer i {
  font-style:oblique;
  text-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
}
